<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Task Tracker app</title>
    <link rel="stylesheet" href="/assets/styles.css">
  </head>
  <body>
    <h2>Click below to go to my Task Tracker app</h2>
    <a href="/todo">See the coolest Task Tracker app</a>

  </body>
</html>
